<div class="col-12 container-fluid text-left p-5 mx-0 w-100 header-container">
  <div class="col-9">
    <div class="mb-3 pb-2 name-container">
      <h1>Hi, I'm José Ángel!</h1>
    </div>
    <h2>Software Developer /</h2>
    <h2>Web Developer</h2>
  </div>

  <div class="container text-left description mt-5 mx-0 col-9">
    Joven proactivo, autodidacta y amante de la programación, al que le encantan los desafíos y aprender cosas nuevas.
    Me adapto rápidamente a los nuevos entornos, y
    trato los problemas a resolver como desafíos personales.
  </div>
</div>
