<div class="col-12 align-middle row description mx-0 mt-5 mb-3">
  <div class="col-6 container text-left">
    <div class="d-inline-flex" *ngFor="let icon of icons">
      <i class="{{icon}} mx-3 my-3" style="font-size: 60px"></i>
    </div>
    <!--
    <div class="language mx-3 my-2 programming-python">Python</div>
    <div class="language mx-3 my-2 programming-c">C#</div>
    <div class="language mx-3 my-2 programming-java">Java</div> -->
  </div>
  <div class="col-6">
    Trabajo principalmente en <span class="green">Python</span> y <span class="green">C#</span> (<span class="green">.NET Core</span>), con los IDEs ofrecidos por <span class="green">JetBrains</span>; y controlo las versiones de mis proyectos con <span class="green">GitKraken</span>. Pese a que también puedo programar en <span class="green">Java</span>, los dos primeros lenguajes son mis favoritos.
    <hr>
    También he trabajado con tecnologías como <span class="green">AngularJS</span> (¡esta página!) o <span class="green">VueJS</span> para desarrollo web; <span class="green">Flutter</span> e <span class="green">Ionic</span> para desarrollo de aplicaciones móviles; y <span class="green">PostreSQL/MySQL + Docker</span> para la contenerización de mis bases de datos.
  </div>
</div>
